/* Encriptador - Desktop */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.container-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 2px solid #0250c9;
    border-radius: 1rem;
}

.container-right {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 40%;
    border: 2px solid #0250c9;
    border-radius: 1rem;
}

/* Mobile */
@media screen and (max-width: 450px) {
  
}

/* Tablet*/
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .container-left {
        flex: 0 1 65%;
        width: 100%;
    }
    
    .container-right {
        flex: 0 1 35%;
        width: 100%;
    }
    .figura{
        display: none;
    }
    .frame5-text{
        display: none;
    }
    .frame5-input{
        display: block;
    }
}


.container-logo{
    flex: 0 1 25%;
}
/* Logo */
.logo {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 120px;
    height: 48px;
}
/* Frame 1 */
.frame1 {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
}


/* Solo letras minúsculas y sin acentos */

.frame1-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}

.areaBorde:hover{
    border: 2px solid #0250c9;
}

/* Frame 3 */

.frame3 {
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
}

.frame3-logo {
    display: flex;
    justify-content: center;
}

.frame3-logo p{
    margin-top: 1rem;
}
/* Vector */

.frame3-group {
    margin-top: 1rem;
}

.frame3-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame3-boton {

    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 20px;
    padding: 24px;
    margin: 0.7rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
}

/* Button */
.--primario{
    color: #0250c9;
    background: #fff;
    border-color: #0250c9;

}
.--primario:hover {
    background: #0250c9;
    color: #fff;
  }
  
.especial{
    background: #ffff24;
    color: #000;
    border-color: #000;
}
.especial:hover{
    background: #000;
    color: #fff;
}

/* Frame 5 */

.frame5 {
    flex: 0 1 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Ningún mensaje fue encontrado */

.frame5-text {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    height: 2rem;
    text-align: center;
    color: #343A40;
}

/* Ingresa el texto que desees encriptar o desencriptar. */


.frame5-input {
    display: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.borderF5{
    border: 2px solid #0250c9;
}

.frame5-container{
    flex: 0 1 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Muñeco */

.figura {
   
}





