/* Encriptador - 1 Desktop */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    /*
position: relative;*/
    width: 100vw;
    height: 100vh;
    display: flex;
    /* Light blue/light-blue-100 */

    background: #F3F5FC;
}

.container-left {
    width: 60%;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #8094db;
}

.container-right {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 40%;
    /*height: 100vh;*/
    background: #c8d883;
}

.container-logo{
    display: flex;
    flex: 0 1 25%;
    background: brown ;
}
/* Logo */

.logo {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: relative;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Vector */

.vector {
    /*position: absolute;*/
    left: 36.67%;
    right: 37.43%;
    top: 0%;
    bottom: 0%;

    /* Dark blue/dark-blue-300 */

    background: #0A3871;

}

/* Ingrese el texto aqui */

.card-texto {

    /*position: relative;*/
    width: 577px;
    height: 48px;
    /*
    left: 240px;
    top: 168px;
    */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */


    /* Dark blue/dark-blue-300 */

    color: #0A3871;
}


/* Frame 1 */

.frame1 {
    /* Auto layout */

    display: flex;
    flex: 0 1 50%;
    /*
    flex-direction: row;
    align-items: center;
    */
    padding: 0px;
    gap: 8px;
    background: violet;
    /*position: absolute;
    width: 229px;
    height: 18px;*/

}

.frame1-logo {
    /* bi:exclamation-circle-fill */


    width: 16px;
    height: 16px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Vector */

.frame1-group {
    /*position: absolute;*/
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* Gray/gray-400 */

    background: #495057;
}

/* Solo letras minúsculas y sin acentos */

.frame1-text {
    width: 205px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Gray/gray-400 */

    color: #495057;

    opacity: 0.8;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Frame 3 */

.frame3 {
    /* Auto layout */

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 25%;
    /*
    flex-direction: row;
    align-items: flex-start;*/
    padding: 0px;
    gap: 24px;

    /*position: absolute;
    width: 680px;
    height: 67px;
    /*
    left: 240px;
    top: 885px;
    */
}

.frame3-boton {
    /* Button */


    /* Auto layout

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    */
    
    width: 328px;
    height: 67px;


    /* Dark blue/dark-blue-300 */

    background: #0A3871;
    border-radius: 24px;

    /* Inside auto layout

    flex: none;
    order: 0;
    flex-grow: 0;*/
}

/* Button */

.frame3-boton-text {
    /*
    width: 280px;
    height: 50px;
    */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* White */

    color: #FFFFFF;


    /* Inside auto layout 

    flex: none;
    order: 0;
    flex-grow: 1;*/
}

/* Button*/

.frame3-boton2 {

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Light gray */

    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Button */

.frame3-boton-text2 {
    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Dark blue/dark-blue-300 */

    color: #0A3871;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;

}

.rectangle {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Frame 5 */

.frame5 {
    /* Rectangle 1 */


    /*position: absolute;*/
    width: 400px;
    /*height: 944px;*/
    /*
left: 1000px;
top: 40px;*/

    /* White */

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

    /* Auto layout */

    display: flex;
    /*
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

/*position: absolute;
width: 336px;
height: 122px;
/*
left: 1032px;
top: 619px;*/
}

/* Ningún mensaje fue encontrado */

.frame5-text {
    width: 336px;
    height: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    text-align: center;

    /* Gray/gray-500 */

    color: #343A40;


    /* Inside auto layout

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
 */
}

/* Ingresa el texto que desees encriptar o desencriptar. */

.frame5-input {
    width: 336px;
    height: 48px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    /* Gray/gray-400 */

    color: #495057;


    /* Inside auto layout 

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
*/
}

/* Muñeco */

.figura {

    /*position: absolute;*/
    width: 336px;
    height: 200px;
    /*
left: 1032px;
top: 283px;*/

}





